.popup__description {
  font-family: "Inter", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  position: absolute;
  bottom: -25px;
  
}
