.profile__description {
  max-width: 336px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .profile__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
